html{
    background-image: url(./Assets/Illustrations+Logo/All-pages/arrière_plan.png);
    background-size: 1920px 3943px;
    background-position: center;
    margin: 0;
}
:root{
    --white-color--:#FFFFFF;
    --off-white--: #F2CEF2;
    --light-violet--:#9e93b3;
    --pink-violet--:#DF99F2;
    --blue-violet--:#601abb;
    --light-blue--:#07338C;
    --black-blue--:#021740; 
}
@font-face {
    font-family: 'BEYNO';
    src: url(./police/BEYNO.ttf)
}
@font-face {
    font-family: 'Cantarell-Regular';
    src: url(./police/Cantarell-Regular.ttf);
}
@font-face {
    font-family: 'PantheraRegular';
    src: url(./police/PantheraRegular-MVZ9J.ttf);
}
@font-face {
    font-family: 'WakandaForever-Regular';
    src: url(./police/WakandaForever-Regular.ttf);
}
/*Design de header*/
h1{
    font-family: 'PantheraRegular';
    font-size: 68px;
    color: #9e93b3;
    margin-left: 70px;
    margin-top: 60px;
}
h2{
    font-family: 'BEYNO';
    font-size: 32px;
    color: #9e93b3;
    margin-left: 70px;
    margin-top: 340px;
}
#abc{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
nav{
    margin-left: 70px;
    margin-right: 40px;
}
ul{
    list-style: none;
}
nav ul a{
    color: var(--white-color--);
    margin-left: 150px;
    font-family: 'BEYNO';
    font-size: 30px;
    text-decoration: none;
}
.horizontal-list li{
    display: inline;
    margin-right: 15px;
    font-size: 10px;
}
/* Section de la premiere partie de wakanda accueil*/

#waka{
    margin-top: 100px;
}
.wakawaka{
    display: flex;
    font-family: 'PantheraRegular';
    font-size: 68px;
    margin-left: 10px;
    margin-top: 0;
    margin-bottom: 0;
    
}
.pic{
    width: 500px;
    height: auto;
    margin-right: 10px;
}
.forever{
    font-style: normal;
    font-size: 32px;
    font-family: 'BEYNO';
    margin-left: 10px;
    margin-top: -400px;
}
.text{
    color: var(--white-color--);
    font-family: 'Cantarell-Regular';
    font-size: 10px;
    margin-right: 800px;
    margin-left: 80px;
    text-align: justify;
}
.text1{
    color: var(--white-color--);
    font-family: 'Cantarell-Regular';
    font-size: 15px;
    margin-right: 800px;
    margin-left: 80px;
    text-align: justify;
    text-decoration-line: underline;
}

#wakanda-personnage{
    background-color: var(--light-blue--);
    margin-left: 0px;
    margin-right: -20px;
}
.content{
    justify-content: flex-end;
    align-items: center;
}
.image, .texte{
    margin-right: 20px;
    margin-left: 20px;
    max-width: 100%;
    display: flex; 
    margin: 0 auto;  
}
.soratra{
    display: inline;
    text-align: start;
    color: white;
    font-family: 'Cantarell-Regular';
    font-size: 10px;
    margin-left: -60px;
    margin-top: 40px;
}
h3{
    font-family: 'BEYNO';
    font-size: 20px;
    color: #9e93b3;
}

.two-column-container {
    display: flex;
    margin-left: 70px;
    margin-right: 800px;
    margin-bottom: 90px;
    margin-top: -200px;
}
.two-column-container1 {
    display: flex;
    margin-left: 70px;
    margin-right: 800px;
    margin-bottom: 90px;
    margin-top: -450px;
}
.two-column-container2 {
    display: flex;
    margin-left: 70px;
    margin-right: 800px;
    margin-bottom: 90px;
    margin-top: -450px;
    font-size: 20px;
}
.text-column, .image-column {
    break-inside: avoid;
    padding: 20px;
}
.image-column img {
    max-width: 100%;
    height: auto;
    display: block;
    margin: 0 auto;
}
.font{
    display: inline;
    text-align: start;
    color: white;
    font-family: 'Cantarell-Regular';
    font-size: 10px;
}
.oui {
    font-family: 'BEYNO';
    font-size: 20px;
    color: #9e93b3;
    margin-left: 70px;
    margin-top: 340px;
}
.tchala{
    margin-left: 600px;
    margin-top: -2000px;
}
.fotsy{
    margin-top: 2000px;
    background: fixed;
    background-color: var(--white-color--);
    width: 500px;
    height: 600px;
    margin-top: -400px;
    margin-bottom: -300px;
}
.ray{
    margin-top: 200px;
    color: black;
    margin-bottom: 20px;
    padding: 20px;
    padding-top: 200px;
}

.lili{
    display: flex;
    justify-content: space-between;
    margin-right: 15px;
    font-size: 20px;
    text-decoration: none; 
}
.image{
    width: 300px;
    height: auto;
}